body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
/* Note: 100% = 16px */
h1 {
  color: #66bfbf;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem; /* 5.625rem * 16px = 90px */
  margin: 50px auto 0 auto;
}
h2 {
  color: #66bfbf;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem; /* 2.5rem * 16px = 40px (do 40/16 to get the rem) */
  line-height: 2;
  font-weight: normal;
}
h3 {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
}
.top-container {
  background-color: #ebfffb;
  position: relative;
  padding-top: 100px;
}
.middle-container {
}
.bottom-container {
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.pro {
  text-decoration: underline;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.dev-image {
  width: 25%;
}
.it-image {
  width: 25%;
}
